<mat-card>
  <mat-card-content>
    <div class="filter-content">
      <div class="history">
        <span class="gray">История</span>
        <span>закрепить теги</span>
        <span>кнопка</span>
        <span>приложение</span>
        <span>форма</span>
        <span>текствое поле</span>
      </div>

      <div class="delimiter"></div>

      <div class="filter-list">
        <div>
          <div class="wrapper-search-author">
            <label for="author">Автор</label>
            <input
              class="search-author"
              type="text"
              placeholder="Имя или должность"
            />
            <span class="show-selection">Я</span>
          </div>
        </div>
        <div class="filter-checkbox">
          <mat-checkbox>Я участник</mat-checkbox>
          <mat-checkbox>Строгий поиск</mat-checkbox>
          <mat-checkbox>В заголовках</mat-checkbox>
        </div>
        <br />
        <div><span>Только</span></div>
        <div class="filter-checkbox">
          <mat-checkbox>Теги</mat-checkbox>
          <mat-checkbox>Просьба</mat-checkbox>
          <mat-checkbox>Контакты</mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
